/* CSS Document */

.titulos_listas
{
font-weight:bold;	
color:#FFF;
background-color:#09F;
	
}

.iten_tabela_banco
{
font-weight:bold;	
color:#333;
background-color:#FF0
	
}

.ordenacao_novo_registro
{
 color:#000;
 background-color:#999;	
	
}

.mostraProdutos
{
width:150px;
height:150px;
padding:10px;
float:left;
margin-top:10px;
margin-bottom:10px;
margin-left:5px;
margin-right:5px;
border-top:1px solid #aaa;
border-bottom::1px solid #aaa;
border-left::1px solid #aaa;
border-right:1px solid #aaa;

	
	
	
}